{% extends 'base.html.twig' %}

{% block title %}
    List of events
{% endblock %}

{% block body %}
    <h2>Events</h2>

    {{ form_start(eventForm) }}
    {{ form_widget(eventForm) }}
    <button>Search</button>
    {{ form_end(eventForm) }}

    {% for event in events %}
        <article>
            {% if event.fields.image is defined %}
                <div><img src="{{ event.fields.image }}" alt="{{ event.fields.title_fr }}"></div>
            {% endif %}
            <div>{{ event.fields.title_fr }}</div>
            <div>{{ event.fields.daterange_fr }}</div>
            <div>{{ event.fields.location_name }}</div>
            <div>{{ event.fields.location_address }}</div>
            <div>{{ event.fields.description_fr }}</div>
        </article>
    {% endfor %}
{% endblock %}
