{% extends 'base.html.twig' %}

{% block body %}
    <article>

        <h3>{{ wish.title }}</h3>
        <p>Category : {{ wish.category.name }}</p>
        <em>Created by {{ wish.author.username }} on {{ wish.dateCreated | date ('Y-m-d') }}</em>
        <br>
        <p class="description">{{ wish.description }}</p>
        {% if app.user %}
            {% if app.user == wish.author %}
                <a class="turboBouton link-button" href="{{ path('wish_update', {'id': wish.id}) }}">Update</a>
            {% endif %}
            {% if app.user == wish.author and is_granted('ROLE_ADMIN') %}
                <a class="turboBouton redBtn link-button" href="{{ path('wish_delete', {'id': wish.id}) }}">Delete</a>
            {% endif %}
        {% endif %}
    </article>


{% endblock %}

{% block title %}
    Wish - {{ wish.title }}
{% endblock %}
