{% extends 'base.html.twig' %}

{% block body %}
    <article>

        <h3>{{ wish.title }}</h3>
        <p>Category : {{ wish.category.name }}</p>
        <em>Created by {{ wish.author }} on {{ wish.dateCreated | date ('Y-m-d') }}</em>
        <br>
        <p class="description">{{ wish.description }}</p>
        <a class="turboBouton link-button" href="{{ path('wish_update', {'id': wish.id}) }}">Update</a>
        <a class="turboBouton redBtn link-button" href="{{ path('wish_delete', {'id': wish.id}) }}">Delete</a>
    </article>


{% endblock %}

{% block title %}
    Wish - {{ wish.title }}
{% endblock %}
