<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon">
    <title>{% block title %}Bucket{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</head>
<body>
<div class="container">

    <header>
        <h1 class="flex-div">

            <a href="{{ path('main_home') }}">
                <img src="{{ asset('images/logo.svg') }}">
            </a>
            <div>Bucket-List</div>

        </h1>
        {% include 'views/nav/nav.html.twig' %}
    </header>
    <h1>Bienvenue sur le site BucketList</h1>
    <main>

        {% block body %}{% endblock %}
    </main>
    <footer class="justify-center">
        &copy;Bucket-list {{ 'now' | date('Y') }}
        {% include 'views/nav/nav.html.twig' %}
    </footer>
</div>
</body>
</html>
